.post_article ol,.post_article ul,blockquote,q,code{background:rgba(255,255,255,.06);box-shadow:0 0 0 1px rgba(255,255,255,.1)}
a,.archives tr a,ul.link-items li a,.readerswall li a{color:#666e8e}
a:hover,.archives tr a:hover,ul.link-items li a:hover,.readerswall li a:hover{color:#bdcadb}

body,
.post-list .meta header h2,
.infos.fixed .fixed-title,
.infos,
.infos.donate-close .donate .window,
.infos.share-close .qrcode{background:#1c1f2b;color:#bdcadb}

::-webkit-scrollbar-track-piece{background-color:#1c1f2b}
::-webkit-scrollbar-thumb{background:#bdcadb;border:2px solid #1c1f2b}

.infos.donate-close .donate .window,
.infos.share-close .qrcode{box-shadow:0 1px 0 #393f56,-1px 0 0 #393f56,1px 0 0 #393f56}

.header:after,.header .menu li:after,.footer .menu li:after,.alink hr{background:#393f56}
.header h1,.current-menu-item a,.current_page_item a,.current-menu-parent a,.current-post-parent a,.social *{color:#bdcadb}
.infos:before,.infos:after{background:#393f56}

.reade_more > a,
.reade_more > span,
.reade_more .page-numbers,
.reade_more .page-navigator a,
.reade_more .page-navigator span{background:#393f56;box-shadow:none;color:#bdcadb}

.reade_more > a:hover,
.reade_more a.page-numbers:hover,
.reade_more .page-navigator a:hover{box-shadow:0 0 0 1px #666e8e inset,0 10px 18px rgba(0,0,0,.25)}

.reade_more > span.current,
.reade_more .page-numbers.current,
.reade_more span.page-numbers.current,
.reade_more .page-navigator li.current a,
.reade_more .page-navigator li.current span{background:#666e8e;color:#1c1f2b;box-shadow:none}

.reade_more > span.dots,
.reade_more .page-numbers.dots,
.reade_more span.page-numbers.dots,
.reade_more .page-navigator li.dots a,
.reade_more .page-navigator li.dots span{color:#666e8e}

.infos.fixed{box-shadow:0 2px 3px rgba(0,0,0,0.2)}
.alink{border-top:1px solid #393f56}

.post-list .meta header h2:hover{color:#fff}


.comment .comment{border-left:1px solid #393f56}
.post-list .meta footer span,.comment-meta a,.comment-author span,.infos,.infos a{color:#666e8e}

.comment .comment-author .avatar,
.comment .comment-author:before,
#commentform input,
#commentform textarea,
#commentform input#submit:focus{color:#bdcadb;background:#1c1f2b;border:1px solid #393f56}

#commentform textarea:focus,
#commentform input:focus,
#commentform input#submit:hover{border-color:#bdcadb}

#commentform input#submit{color:#fff}
#commentform input#submit:hover{background:#393f56;border-color:#393f56}

.nearbypost{box-shadow:0 1px 0 #393f56,0 -1px 0 #393f56}
.nearbypost div.alignright{box-shadow:-1px 0 0 #393f56}
.view-img{background:rgba(28,31,43,0.9) !important;}

.setting_tool,
.setting_tool a,
.setting_tool.colors div.c,
.setting_tool.search div.s input,
.setting_tool.search div.s input::placeholder{background:#393f56;color:#bdcadb;}

.related-posts .related_link{background:rgba(255,255,255,.04);box-shadow:0 0 0 1px #393f56 inset;}
.related-posts .related_date{color:#666e8e;}
.related-posts .related_name{color:#bdcadb;}
.related-posts .related_link:hover{background:rgba(255,255,255,.06);box-shadow:0 0 0 1px #666e8e inset,0 10px 18px rgba(0,0,0,.25);}
